header
{
	background-color: $darkest;
	padding: .25em 0;

	span
	{
		color: #fff;
		font-weight: bold;
		font-size: 1.5em;
	}

	.logo
	{
		color: $white;
	}
}

body
{
	background-color: $dark;
	font-family: $main-font;
}

main
{
	margin: 2em auto;
}

h2
{
	font-size: 1.25em;
	font-family: $main-font;
	color: $light-grey;
}

h3
{
	font-size: 1.25em;
	font-family: $main-font;
}

button
{
	font-family: $main-font;
	border: 6px solid $main-color - 20;
	background-color: $darkest;
}

button:hover
{
	border: 6px solid $main-color - 40;
}

.tabs dd
{
	width: 33.3333%;
	font-family: $main-font;

}

.tabs dd > a
{
	padding: 10px;
	border: 6px solid $main-color - 20;
	transition: background-color 0.5s ease;
	background-color: $darkest;
	color: $white;
	font-family: $main-font;
	padding: .9em 0;
}

.tabs dd > a:hover
{
	transition: background-color 0.5s ease;
	background-color: $main-color;
}

.tabs dd.active a, .tabs .tab-title.active a
{
	background-color: $dark + $main-color - 40;
	color: $white;
}

.tabs-content ul
{
	list-style-type: none;
	margin-left: 0;
}


.accordion .accordion-navigation > a, .accordion dd > #panel1, .accordion .accordion-navigation > a, .accordion dd > #panel2, .accordion dd > #panel3, .accordion dd > #panel4, .accordion dd > #panel5, .accordion dd > #panel6
{
	padding: 0;
	background: none;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a
{
	background: none;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover
{
	background: none;
}

.contact-list
{
	list-style-type: none;
	margin-right: 15px;
}

.contact-listing
{
	color: #fff;
	border-bottom: 1px solid #444;
	padding-bottom: .5em;
}

table
{
	thead tr td, tbody tr td
	{
		color: $white;
	}



	td
	{
		border: 1px solid #444;
	}
}

.new-intake
{
	input
	{
		margin: 0;
	}

	button
	{
		margin: 0;
		padding: .75em 0;
	}
}

