header
{
	background-color: #222;
	padding: .25em 0;

	span
	{
		color: #fff;
		font-weight: bold;
		font-size: 1.5em;
	}
}

body
{
	background-color: #333;
	font-family: $main-font;
}

main
{
	margin: 2em auto;
}

h2
{
	font-size: 1.25em;
	font-family: $main-font;
	color: #ccc;
}

h3
{
	font-size: 1.25em;
	font-family: $main-font;
}

button
{
	font-family: $main-font;
	border: 6px solid $main-color - 20;
	background-color: #333 - 10;
}

button:hover
{
	border: 6px solid $main-color - 40;
}


.accordion .accordion-navigation > a, .accordion dd > #panel1, .accordion .accordion-navigation > a, .accordion dd > #panel2
{
	padding: 0;
	background: none;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a
{
	background: none;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover
{
	background: none;
}

.contact-list
{
	list-style-type: none;
	margin-right: 15px;
}

.contact-listing
{
	color: #fff;
	border-bottom: 1px solid #444;
	padding-bottom: .5em;
}





