header
{
	background-color: $darkest;
	padding: .25em 0;

	span
	{
		color: #fff;
		font-weight: bold;
		font-size: 1.5em;
	}

	.logo
	{
		color: $white;
	}
}

body
{
	background-color: $dark;
	font-family: $main-font;
}

main
{
	margin: 2em auto;
}

h2
{
	font-size: 1.25em;
	font-family: $main-font;
	color: $light-grey;
}

h3
{
	font-size: 1.25em;
	font-family: $main-font;
}

p
{
	color: $white;
}

label
{
	color: $light-grey;
}

button
{
	font-family: $main-font;
	border: 6px solid $main-color - 20;
	background-color: $darkest;
}

button:hover
{
	border: 6px solid $main-color - 40;
}

.tabs dd
{
	width: 33.3333%;
	font-family: $main-font;

}

.tabs dd > a
{
	padding: 10px;
	border: 6px solid $main-color - 20;
	transition: background-color 0.5s ease;
	background-color: $darkest;
	color: $white;
	font-family: $main-font;
	padding: .9em 0;
}

.tabs dd > a:hover
{
	transition: background-color 0.5s ease;
	background-color: $main-color;
}

.tabs dd.active a, .tabs .tab-title.active a
{
	background-color: $dark + $main-color - 40;
	color: $white;
}

.tabs-content ul
{
	list-style-type: none;
	margin-left: 0;
}


.accordion .accordion-navigation > a, .accordion dd > #panel1, .accordion .accordion-navigation > a, .accordion dd > #panel2, .accordion dd > #panel3, .accordion dd > #panel4, .accordion dd > #panel5, .accordion dd > #panel6
{
	padding: 0;
	background: none;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a
{
	background: none;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover
{
	background: none;
}

.contact-list
{
	list-style-type: none;
	margin-right: 15px;
}

.contact-listing
{
	color: #fff;
	border-bottom: 1px solid #444;
	padding-bottom: .5em;
}

table
{
	thead tr td, tbody tr td
	{
		color: $white;
	}

	thead tr th
	{
		border: 1px solid #444;
		color: $white;
		text-align: center;
	}

	td
	{
		border: 1px solid #444;
	}
}

.new-intake
{
	input
	{
		margin: 0;
	}

	button
	{
		margin: 0;
		padding: .75em 0;
	}
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.lesson-schedule
{
	tbody tr td
	{
		border: 1px solid #444;
		color: $white;
		text-align: center;
	}

	.recTimeOutput
	{
		color: #fff;
	}

}

table tfoot tr td
{
	color: #eee;
}

tbody, tfoot
{
	border-right: 1px solid #444;
}

table, thead, tfoot
{
	background: none;
}

/* CoC */

.coc-body
{
	 background-color: white;
	 padding: 0;
	 margin: 0;
}

.coc-container
{
	background-color: red;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 768px;
	height: 994px;


	h1
	{
		-ms-transform: rotate(90deg); /* IE 9 */
	    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	    transform: rotate(90deg);
	    font-family: "Goudy Old Style";
	    font-style: italic;
	    font-size: 42pt;
	    top: 45%;
	    left: 190px;
	    white-space: nowrap; 
	    padding: 0;
	    margin: 0;
	    background-color: pink;
	}

	.dog
	{
		padding: 0;
		margin: 0;
		width: 100%;
	}
}

@-moz-keyframes fade {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

@-webkit-keyframes fade {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

@-ms-keyframes fade {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

@keyframes fade {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

@-moz-keyframes notFade {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}

@-webkit-keyframes notFade {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}

@-ms-keyframes notFade {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}

@keyframes notFade {
	  0% {
	    opacity: 1;
	  }
	  100% {
	    opacity: 0;
	  }
	}

.lesson-schedule
{
	.fade
	{
	  animation: fade 800ms;
	  -moz-animation: fade 800ms;
	  -webkit-animation: fade 800ms;
	  -ms-animation: fade 800ms;
	}

	.not-fade
	{
	  animation: notFade 800ms;
	  -moz-animation: notFade 800ms;
	  -webkit-animation: notFade 800ms;
	  -ms-animation: notFade 800ms;
	}

	.not-fade
	{
		opacity: 0;
		height: 0;
	}

	.recTimeOutput
	{
		display: none;
	}

	.recTimeOutputShown
	{
		display: block;
		margin-bottom: 1em;
		color: $white;
	}
}
